[Desktop Entry]
Name=Anger Manager
Name[sv]=Ilskehanteraren
Comment=Step-by-step anger management
Comment[sv]=Steg-för-steg ilskehantering för barn
Exec=ilskehanteraren
Icon=se.danielnylander.ilskehanteraren
Type=Application
Categories=Education;Accessibility;
